.centerAlign {
    text-align: center;
}

.radioButtonIndent {
    text-indent: 5%;
    font-size: 150%;
}

.scoreSize {
    font-size: 230%;
}

.celebratrionIconSize {
    font-size:  210%;
}

.highlightAnswer {
    font-size: 230%;
    color: green;
    transition: 1.5s;
}

.radioButtonSize {
    width: 2.3vh;
    height: 2.3vh;
}

.mainColors {
    color: navy;
    background-color: lightcyan;
}

.actionButtons {
    background-color: green;
    color: white
}

.continueButton {
    background-color: dodgerblue;
    color: white
}

.restartButton {
    background-color: red;
}

body {
    min-height: 100%;
}

.indentAnswer {
    padding-left: 10px;
}