.centerAlign {
    text-align: center;
}

.radioButtonIndent {
    text-indent: 5%;
}

.scoreSize {
    font-size: 230%;
}

.celebratrionIconSize {
    font-size:  210%;
}

.highlightAnswer {
    font-size: 230%;
    color: green;
}